body {
    font-family: Arial, sans-serif;
    text-align: center;
    
}

h1 {
    color: #333;
}

form {
    margin: 20px;
}

input[type="text"] {
    padding: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    cursor: pointer;
}

#weatherInfo {
    margin: 20px;
}

#loading {
    display: none;
}

.savedArea {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.hidden {
    display: none;
}